$colorMap: ("primary": #D90845,
  "second": #eeeeee,
  "third":#123456,
  "grey":rgb(247, 247, 247),
  "white":#ffffff,
  "black":#000000,
  "nav":#777,
  "title":#555555,
  "content":#333333,
  "yellow":#ff9,
  "info":#888);

$radiusVar: 4px;
$fontSizeMap:("1":75%,
  "2":87.5%,
  "3":100%,
  "4":112.5%,
  "5":150%);